html, body {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 175px;

	background: #efefef;

	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 50px 50px 120px 50px;

  background: linear-gradient(to bottom, #efefef 60%, rgba(239, 239, 239, 0) 100%);
  box-sizing: border-box;

  line-height: 55px;
	color: #006989;

	z-index: 2;
}

header h1 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 2rem;
}

div.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header div.stats {
	float: right;
}

div.img {
  background: #fff;
  padding: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 3px;
  margin: 15px 0 35px 35px;
}

div.img img {
  width: 100%;
}

.block.visible {
	transition: opacity 1.5s ease, transform 1.5s cubic-bezier(0.1, 1.03, 0.58, 1);
	transform: translate(0, 0);
	opacity: 1.0;
}

.block.invisible {
	transition: opacity 1.5s ease, transform 1.5s cubic-bezier(0.1, 1.03, 0.58, 1);
	/*transform: translate(-100%, 0);*/
	opacity: 0.0;
}

.block:nth-child(even).invisible {
	/*transform: translate(100%, 0);*/
}

.clear {
	clear: both;
}

.float--left {
	float: left;
}

.float--right {
	float: right;
}

.margin {
	margin: 15px;
}

.margin--center {
	margin-left: auto;
	margin-right: auto;
}

.margin--vertical {
	margin: 15px 0;
}

.margin--horizontal {
	margin: 0 15px;
}

.margin--top {
	margin-top: 15px;
}

.margin--bottom {
	margin-bottom: 15px;
}

.margin--left {
	margin-left: 15px;
}

.margin--right {
	margin-right: 15px;
}

.padding {
	padding: 15px;
}

.padding--vertical {
	padding: 15px 0;
}

.padding--horizontal {
	padding: 0 15px;
}

.padding--top {
	padding-top: 15px;
}

.padding--bottom {
	padding-bottom: 15px;
}

.padding--left {
	padding-left: 15px;
}

.padding--right {
	padding-right: 15px;
}

.textAlign--left {
	text-align: left;
}

.textAlign--center {
	text-align: center;
}

.textAlign--right {
	text-align: right;
}

.width--full {
	width: 100%;
}

.width--half {
	width: 50%;
}